.navor{
background: url("../static/image/background.jpg") no-repeat left top ;
    background-size: cover;
}
.navor img{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin-right: 20px;
}
.navor .content{
padding: 20px;
    display: flex;
    align-items: center;
    height: 30vh;
}
.navor .content img{
}
.navor .content p{
    line-height: 10vw;
    color: #ffffff;
}


.personUli{
background: #f9f9f9;
    padding-top: 10px;
}
.personUli ul{
    list-style: none;

    padding: 0 20px;
    background: #ffffff;

}
.personUli ul li{
    border-bottom: 1px solid #f3f3f3;
    line-height: 15vw;
    display: flex;
    align-items: center;
}
.personUli img{
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    margin-right: 10px;
}
.personUli ul li span{
    color: #3c3ca2;
}
